.invoice-wrapper{
  display:flex;
  justify-content:center;
  padding:30px;
}
.invoice{
  width:900px;
  background:#fff;
  padding:20px;
  border-radius:12px;
}

.header{
  background:#111;
  color:#fff;
  padding:20px;
  border-radius:10px;
  text-align:center;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}
th,td{
  border-bottom:1px solid #ddd;
  padding:8px;
  text-align:center;
}
th{
  background:#f3f3f3;
}

.bottom-bar{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:#111;
  padding:10px;
  display:flex;
  gap:10px;
  justify-content:center;
}
.bottom-bar button{
  background:#000;
  color:#fff;
  border:none;
  padding:12px 20px;
  border-radius:8px;
}

.no-print{}
@media print{
  .no-print{
    display:none !important;
  }
  body{
    background:#fff;
  }
}
